DATABASE_URL=
WAITLIST_ENCRYPTION_KEY=
AFFILIATE_SECURITY_KEY=
AFFILIATE_APP_URL=http://localhost:3000
NEXT_SECRET_PAYSTACK_SECRET_KEY=
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_EMAIL=
SMTP_PASSWORD=
NEXT_PUBLIC_GOOGLE_CAPTCHA_SITE_KEY=
GOOGLE_CAPTCHA_SECRET_KEY=
GOOGLE_CAPTCHA_MIN_SCORE=0.5
